.analytices_list_area {
  position: relative;
  padding-top: 100px;
  padding-bottom: 150px;
  z-index: 2;
}
.analytices_list_area .macbook_a {
  position: absolute;
  right: 0;
  bottom: 0;
}
.analytices_list_area {
  position: relative;
  padding-top: 100px;
  padding-bottom: 150px;
  z-index: 2;
}
.analytices_list_area:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 560px;
  z-index: -1;
  left: 0;
  background: url("../img/home-software/down_bg.png") no-repeat scroll;
  bottom: 0;
  background-size: cover;
}
.analytices_list_area .macbook_a {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media(max-width:1350px){
    .analytices_list_area .macbook_a {
        right: -333px;
    }
    }
@media(max-width:991px){
    .analytices_list_area .macbook_a{
        display: none;
    }
    }
@media(max-width:991px){
    .analytices_list_area{
        padding-bottom: 50px;
    }
    }
.security_list_area {
  padding-top: 180px;
}
.security_list_area .macbook_a {
  bottom: 110px;
}
.security_list_area .lock {
  position: absolute;
  right: 41%;
  bottom: 100px;
  z-index: -1;
}
.security_list_area .analytices_title {
  margin-bottom: 0;
}
.security_list_area .analytices_list {
  padding-top: 25px;
}
@media(max-width:991px){
    .security_list_area .macbook_a{
        display: block;
        position: relative;
        right: -130px;
        bottom: 0;
    }
    }
@media(max-width:991px){
    .security_list_area .lock{
        right: auto;
        left: 80px;
        top: 380px;
        bottom: auto;
    }
    }
@media(max-width:991px){
    .security_list_area{
        padding: 20px 0px 100px;
    }
    }
@media(max-width:991px){
    .security_list_area .analytices_title{
        margin-top: 50px;
    }
    }
@media(max-width:576px){
    .security_list_area .macbook_a,.security_list_area .lock,.security_inner .security_leaf_left, .security_inner .security_leaf_right{
        display: none;
    }
    }
.analytices_list_area .macbook_a {
  position: absolute;
  right: 0;
  bottom: 0;
}
.analytices_list_area .macbook_a {
  position: absolute;
  right: 0;
  bottom: 0;
}
.security_list_area .macbook_a {
  bottom: 110px;
}
@media(max-width:1350px){
    .analytices_list_area .macbook_a {
        right: -333px;
    }
    }
@media(max-width:991px){
    .analytices_list_area .macbook_a{
        display: none;
    }
    }
@media(max-width:991px){
    .security_list_area .macbook_a{
        display: block;
        position: relative;
        right: -130px;
        bottom: 0;
    }
    }
@media(max-width:576px){
    .security_list_area .macbook_a,.security_list_area .lock,.security_inner .security_leaf_left, .security_inner .security_leaf_right{
        display: none;
    }
    }
.security_list_area .lock {
  position: absolute;
  right: 41%;
  bottom: 100px;
  z-index: -1;
}
@media(max-width:991px){
    .security_list_area .lock{
        right: auto;
        left: 80px;
        top: 380px;
        bottom: auto;
    }
    }
@media(max-width:576px){
    .security_list_area .macbook_a,.security_list_area .lock,.security_inner .security_leaf_left, .security_inner .security_leaf_right{
        display: none;
    }
    }
  .container {
    max-width: 1200px;
  }
  .container {
    max-width: 100%;
  }
.container.custom_container {
  max-width: 1520px;
}
.menu_tracking .container{
  width: 100%;
  max-width: 100%;
  padding-left: 65px;
  padding-right: 65px;
}
.menu_scroll .container-fluid {
  padding-left: 100px;
  padding-right: 100px;
}
.saasland_container .saasland_col_content .container_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 35px;
  z-index: 3;
  overflow: hidden;
  min-height: 600px;
}
.ticket_area .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.menu_pos .container {
  position: relative;
}
.menu_pos .container .search_cart {
  background: transparent;
}
.menu_pos .container .menu_toggle .hamburger span, .menu_pos .container .menu_toggle .hamburger-cross span {
  background: #fff;
}
@media(max-width:1550px){
    .container.custom_container{
        max-width: 1170px;
    }
    }
@media(max-width:1199px){
    .container.custom_container {
        max-width: 960px;
    }
    }
@media(max-width:1199px){
    .menu_one .container-fluid {
        padding-left: 35px;
        padding-right: 72px;
    }
    }
@media(max-width:991px){
    .container.custom_container {
        max-width: 100%;
        padding: 0px 15px;
    }
    }
@media(max-width:991px){
    .header_area_six .container,.header_area_seven .container{
        position: relative;
    } 
    } 
@media(max-width:991px){
    .header_area .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    }
@media(max-width:991px){
    .saasland_container .saasland_col_content .container_wrap{
        min-height: 517px;
        padding: 0px 15px;
    }
    }
@media(max-width:991px){
    .navbar_fixed .menu_pos .container .menu_toggle .hamburger span,.navbar_fixed .menu_pos .container .menu_toggle .hamburger-cross span{
        background: #051441;
    }
    }
@media(max-width:991px){
    .header_area .container{
        position: relative;
    }
    }
@media(max-width:991px){
    .menu_one .container-fluid {
        padding-left: 35px;
        padding-right: 35px;
    }
    }
@media(max-width:768px){
    .menu_scroll .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    }
@media(max-width:480px){
    .header_area .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    }
.row.m0 {
  margin: 0px;
}
.ctn-preloader .loader .row {
  height: 100%;
}
.case_study_area .row {
  margin-bottom: -40px;
}
.feedback_area_three .row {
  margin-left: -20px;
  margin-right: -20px;
}
.erp_service_area .row {
  margin-bottom: -100px;
}
.erp_testimonial_area .row {
  margin-right: -25px;
  margin-left: -25px;
  display: block;
}
.erp_testimonial_area .row{
  position: relative;
}
.pp_features_info .row {
  margin-top: -70px;
}
.h_security_area .row {
  margin-bottom: -45px;
}
@media(max-width:1450px){
    .pp_features_info .row {
        margin-top: -30px;
    }
    }
@media(max-width:1199px){
    .section-4 .row{
        align-items: center;
    }
    }
@media(max-width:991px){
    .footer_area_two .footer_top_two .row{
        margin-bottom: -40px;
    }
    }
@media(max-width:991px){
    .security_inner .row{
        justify-content: center;
    }
    }
@media(max-width:991px){
    .chat_core_features_area .row{
        justify-content: center;
    } 
    } 
@media(max-width:768px){
    .event_sponser_inner .event_sponser_item .row{
        justify-content: center;
    }
    }
@media(max-width:650px){
    .erp_service_area .row {
        margin-bottom: -50px;
    }
    }
@media(max-width:576px){
    .shop_grid_area .row,.shop_list_area .row{
        text-align: center;
    }
    }
@media(max-width:991px){
    .get_started_area .col-lg-6.text-right img{
        margin-top: 50px;
    }
    }
@media(max-width:576px){
    .get_started_area .col-lg-6.text-right img{
        max-width: 100%;
    }
    }
.hosting_title {
  max-width: 700px;
  margin: 0 auto 70px;
}
.hosting_title h2 {
  font-size: 40px;
  line-height: 55px;
  font-weight: 600;
  color: #2c2c51;
  margin-bottom: 15px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
.hosting_title p {
  color: #7b7b93;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}
.hosting_title .w_color {
  color: #fff;
}
.h_features_content .hosting_title {
  margin-bottom: 40px;
}
.h_features_content .hosting_title h2 {
  font-weight: 500;
}
.h_map_area .hosting_title {
  margin-bottom: 0;
}
.security_customers_logo_area .hosting_title {
  margin-bottom: 50px;
}
@media(max-width:991px){
    .hosting_title h2 br{
        display: none;
    }
    }
@media(max-width:768px){
    .sec_title br,.prototype_service_info h2 br,.hosting_title h2 br{
        display: none;
    }
    }
@media(max-width:768px){
    .h_map_area .hosting_title br{
        display: none;
    }
    }
@media(max-width:650px){
    .hosting_title p br{
        display: none;
    }
    }
@media(max-width:576px){
    .hosting_title h2 {
        font-size: 31px;
        line-height: 40px;
    }
    }
.analytices_title span {
  display: block;
  font-weight: 300;
  color: #2c2c51;
}
.analytices_title p {
  font-weight: 400;
  color: #7b7b93;
  font-size: 16px;
  max-width: 570px;
  margin: 0 auto;
}
.analytices_logo_content .analytices_title {
  margin-bottom: 0;
}
.security_list_area .analytices_title {
  margin-bottom: 0;
}
@media(max-width:991px){
    .analytices_logo_content .analytices_title p{
        max-width: 100%;
    }
    }
@media(max-width:991px){
    .security_list_area .analytices_title{
        margin-top: 50px;
    }
    }
.analytices_list_area {
  position: relative;
  padding-top: 100px;
  padding-bottom: 150px;
  z-index: 2;
}
.analytices_list_area .macbook_a {
  position: absolute;
  right: 0;
  bottom: 0;
}
.analytices_list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  padding-top: 40px;
}
.analytices_list li {
  font-size: 16px;
  line-height: 20px;
  color: #7b7b93;
  position: relative;
  padding-left: 30px;
  margin-top: 20px;
}
.analytices_list li:before {
  content: "\e64c";
  display: inline-block;
  font-family: 'themify';
  position: absolute;
  left: 0;
  top: 0px;
  font-size: 14px;
  color: #26da15;
}
.analytices_list_area {
  position: relative;
  padding-top: 100px;
  padding-bottom: 150px;
  z-index: 2;
}
.analytices_list_area:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 560px;
  z-index: -1;
  left: 0;
  background: url("../img/home-software/down_bg.png") no-repeat scroll;
  bottom: 0;
  background-size: cover;
}
.analytices_list_area .macbook_a {
  position: absolute;
  right: 0;
  bottom: 0;
}
.analytices_list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  padding-top: 40px;
}
.analytices_list li {
  font-size: 16px;
  line-height: 20px;
  color: #7b7b93;
  position: relative;
  padding-left: 30px;
  margin-top: 20px;
}
.analytices_list li:before {
  content: "\e64c";
  display: inline-block;
  font-family: 'themify';
  position: absolute;
  left: 0;
  top: 0px;
  font-size: 14px;
  color: #4e78f4;
}
.security_list_area .analytices_list {
  padding-top: 25px;
}
@media(max-width:1350px){
    .analytices_list_area .macbook_a {
        right: -333px;
    }
    }
@media(max-width:991px){
    .analytices_list_area .macbook_a{
        display: none;
    }
    }
@media(max-width:991px){
    .analytices_list{
        padding-top: 0;
    }
    }
@media(max-width:991px){
    .analytices_list_area{
        padding-bottom: 50px;
    }
    }
